{% extends 'layouts/master.html' %}

{% block title %}
Employees | List
{% endblock %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/employee_list.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    {% include 'partials/_message.html' %}
    <a href="{% url 'employee_add' %}" class="btn btn-sm btn-primary mb-3 mt-3">Add New Employee</a>
    <div class="card p-5 mt-3">
        <div class="card-header">
            <h1 class="mb-4">Employee List</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Employee Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in page_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ val.employee_code }}</td>
                        <td>{{ val.employee_name }}</td>
                        <td>{{ val.employee_image }}</td>
                        <td>
                            <a href="{% url 'employee_show' val.pk %}" class="btn btn-sm btn-outline-primary mr-2">Show</a>
                            <a href="{% url 'employee_edit' val.pk %}" class="btn btn-sm btn-outline-primary mr-2">Edit</a>
                            <a href="{% url 'employee_delete' val.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-arrow-left"></i></a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-arrow-right"></i></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %} 