
/* Custom color scheme */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
}

/* Body styles */
body {
    background-color: #35315a;
}

/* Navbar styles */
.navbar {
    background-color: rgb(143, 34, 34);
    border-bottom: 3px solid var(--secondary-color);
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

.container-fluid {
    padding: 0 15px;
}

/* Custom button style */
.btn-custom {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
}

.btn-custom:hover {
    background-color: #27ae60;
}

