{% extends 'layouts/master.html' %}

{% block title %}
HRMS | Dashboard
{% endblock %}

{% block content %}
<div class="container">
    <div class="card p-5 mt-3">
        <h1 style="color: #333; font-size: 24px;">Dashboard</h1>
        <hr>

        <div class="d-flex flex-row justify-content-between">
            <div class="card p-5 w-33" style="background-color: #fff; border: 1px solid #e0e0e0; border-radius: 5px; box-shadow: 2px 2px 5px #aaa;">
                <h2>Employees</h2>
                <p>Total employees:{{ employee_count }}</p>
                <a href="{% url 'employee_list' %}" style="text-decoration: none; color: #007bff;">View Details</a>
            </div>

            <div class="card p-5 w-33" style="background-color: #fff; border: 1px solid #e0e0e0; border-radius: 5px; box-shadow: 2px 2px 5px #aaa;">
                <h2>Accounts</h2>
                <p>Total accounts:{{ user_count }}</p>
                <a href="{% url 'employee_list' %}" style="text-decoration: none; color: #007bff;">View Details</a>
            </div>

            <div class="card p-5 w-33" style="background-color: #fff; border: 1px solid #e0e0e0; border-radius: 5px; box-shadow: 2px 2px 5px #aaa;">
                <h2>Projects</h2>
                <p>Total projects: 20</p>
                <a href="{% url 'employee_list' %}" style="text-decoration: none; color: #007bff;">View Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
